<app-nav-bar></app-nav-bar>
<div class="bg-no-repeat bg-right-bottom" style="background-image: url('../assets/bg-login.svg'); background-size: 40%;">
  <div class="text-center flex justify-center h-screen items-center">
    <div>
      <h1 class="text-[#404EED] text-3xl font-bold mb-2.5">Entrar no Organize-se</h1>
      <p class="text-lg leading-6 text-[#313338]">Que bom te ver novamente!</p>
      <form>
        <div class="mt-6">
          <input type="text" id="username" name="username" placeholder="Usuário *"
            class="w-96 text-lg form-control h-12 border-[#313338] placeholder:text-[#313338] focus:border-[#404EED] shadow-none"
            [(ngModel)]="username">
        </div>
        <div class="mt-4">
          <input type="password" id="password" name="password" placeholder="Senha *"
            class="text-lg form-control h-12 border-[#313338] placeholder:text-[#313338] focus:border-[#404EED] shadow-none"
            [(ngModel)]="password">
        </div>
        <p class="mt-2 text-sm text-[#B9BBBE] font-normal text-right">Não tem uma conta? <a routerLink="/cadastro" class="text-[#404EED] underline decoration-1">Crie uma</a></p>
        <button class="bg-[#404EED] text-white w-full rounded h-10 font-medium text-lg mt-6" (click)="login()">Entrar</button>
        <div *ngIf="registrationFailed" class="mt-4 p-4 bg-[#EF4444] text-white rounded font-medium text-lg w-96 mx-auto">
          Usuário ou senha incorretos.
        </div>
      </form>

    </div>
  </div>
</div>
