<nav class="bg-white fixed w-full z-20 top-0 left-0 border-b border-[#E5E5E5]">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto">
    <div class="flex items-center">
      <a href="/home">
        <img src="/src/assets/logo.svg" class="h-8 mr-3" alt="Logo">
      </a>
      <div class="items-center justify-between hidden w-full md:flex md:w-auto " id="navbar-sticky">
        <ul class="flex flex-col p-4 font-medium md:flex-row md:space-x-8">
          <li>
            <a href="#" class="text-[#313338]" aria-current="page">Home</a>
          </li>
          <li>
            <a routerLink="/minhasAtividades" class="text-[#313338]">Minhas Atividades</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="flex">
      <button type="button" class="bg-[#404EED] text-white w-24 rounded h-8 font-medium text-lg">Sair</button>
    </div>
  </div>
</nav>
